<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c3a66e6f-bf86-4c3c-9826-f469b08756aa/resourcegroups/UkraineAirlineRG2/providers/Microsoft.Web/sites/MyApp20171118014304</ResourceId>
    <ResourceGroup>UkraineAirlineRG2</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://myapp20171118014304.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>myapp20171118014304.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MyApp20171118014304</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MyApp20171118014304</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="UkraineAirlineEntities2" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ukraineairline1.database.windows.net,1433;Initial Catalog=CustomerDB1;Persist Security Info=False;User ID=Ukraine;Password=UIA!!123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:ukraineairline1.database.windows.net,1433;Initial Catalog=CustomerDB1;Persist Security Info=False;User ID=Ukraine;Password=UIA!!123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyApp.Models.UkraineAirlineEntities2, MyApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="UkraineAirlineEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:ukraineairline1.database.windows.net,1433;Initial Catalog=CustomerDB1;Persist Security Info=False;User ID=Ukraine;Password=UIA!!123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:ukraineairline1.database.windows.net,1433;Initial Catalog=CustomerDB1;Persist Security Info=False;User ID=Ukraine;Password=UIA!!123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyApp.Models.UkraineAirlineEntities, MyApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="UkraineAirlineEntities1" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:ukraineairline1.database.windows.net,1433;Initial Catalog=CustomerDB1;Persist Security Info=False;User ID=Ukraine;Password=UIA!!123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:ukraineairline1.database.windows.net,1433;Initial Catalog=CustomerDB1;Persist Security Info=False;User ID=Ukraine;Password=UIA!!123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-0C5AR\SQLEXPRESS01;Initial Catalog=UkraineAirline;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\UkraineAirlineEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.BookingModel.csdl|res://*/Models.BookingModel.ssdl|res://*/Models.BookingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-0C5AR\SQLEXPRESS01;initial catalog=UkraineAirline;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="UkraineAirlineEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.BookingModel.csdl|res://*/Models.BookingModel.ssdl|res://*/Models.BookingModel.msl;provider=System.Data.SqlClient;provider connection string="Server=tcp:ukraineairline1.database.windows.net,1433;Initial Catalog=CustomerDB1;Persist Security Info=False;User ID=Ukraine;Password=UIA!!123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="UkraineAirlineEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.RegistrationModel.csdl|res://*/Models.RegistrationModel.ssdl|res://*/Models.RegistrationModel.msl;provider=System.Data.SqlClient;provider connection string="Server=tcp:ukraineairline1.database.windows.net,1433;Initial Catalog=CustomerDB1;Persist Security Info=False;User ID=Ukraine;Password=UIA!!123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="UkraineAirlineEntities2-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.BookintModel.csdl|res://*/Models.BookintModel.ssdl|res://*/Models.BookintModel.msl;provider=System.Data.SqlClient;provider connection string="Server=tcp:ukraineairline1.database.windows.net,1433;Initial Catalog=CustomerDB1;Persist Security Info=False;User ID=Ukraine;Password=UIA!!123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>