@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<body style="background-image: url(http://www.ccsgeorgia.org/wp-content/uploads/2017/01/light-gradient-wallpaper-26039-26724-hd-wallpapers.jpg.png)" ;>
    <h3>UIA Contacts</h3>

    <address>
        201-203, Kharkivske Shosse,<br />
        Kiev, 02121, Ukraine<br />
        <abbr title="Phone">P:</abbr>
        +38 (044) 581-56-56
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">сontact@flyuia.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">lost.found@aeh.aero</a>
    </address>
</body>
