@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    .jumbotron {
        margin-top: 30px;
        background-image: url(http://www.travel365.md/wp-content/uploads/2017/02/uia-boeing-737.jpg);
        background-size: cover;
        background-position: center;
        color: black;
    }
  
</style>

<body style="background-image: url(http://www.ccsgeorgia.org/wp-content/uploads/2017/01/light-gradient-wallpaper-26039-26724-hd-wallpapers.jpg.png)";>
    <div class="container">
        <div class="jumbotron">
            <h1>Ukrain International Airlines</h1>
            <br>
            <h2>Book Flights with Europe's Leading Airline</h2>
            <br>
            <br>
            <p class="lead" style="color: white;">Travel in style to more than 100 destinations worldwide with Ukraine International Airlines, Europe's leasing airline - Book your flight online for exclusive fares.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Book Flight &raquo;</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Explore our new destinations</h2>
            <p>
                From the breathtaking architecture, expansive monuments and extravagant mosaics,
                to the world-class opera and ballet, St. Petersburg is an undiscovered treasure
                waiting to be explored.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Explore more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Find the Best Deals</h2>
            <p>Sarejevo is where the western and eastern Roman empires split, and where some of the world’s great religions meet, making it one of the most tolerant and friendly cities on Earth.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Explore more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>UIA News</h2>
            <p>
                Ukraine International launches scheduled services between Copenhagen and Kiev.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">All News &raquo;</a></p>
        </div>
    </div>
</body>